<form>
  <div class="field">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" [(ngModel)]="register.email" />
  </div>
  <div class="field">
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      [(ngModel)]="register.password"
    />
  </div>
  <div class="field">
    <label for="confirmPassword">Confirm Password</label>
    <input
      type="password"
      id="confirmPassword"
      name="confirmPassword"
      [(ngModel)]="register.confirmPassword"
    />
  </div>

  <button label="Login" (click)="onRegister()">Login</button>
</form>
