<main class="main-container">
  @if (user) {
    <div class="welcome-message">
      <p>Welcome, {{ user.email }}!</p>
    </div>
  }
  <nav class="navigation">
    @if (user) {
      <div>
        <a routerLink="/dashboard" routerLinkActive="active">Home</a>
        <a routerLink="/transactions" routerLinkActive="active">Transactions</a>
        <button (click)="handleLogout()">Logout</button>
      </div>
    } @else {
      <div>
        <a routerLink="/login" routerLinkActive="active">Login</a>
        <a routerLink="/register">Register</a>
      </div>
    }
  </nav>
</main>

<router-outlet />
