<main>
  @if (this.user) {
    <p>Welcome, {{ this.user.email }}!</p>
  }
  <nav>
    @if (this.user) {
      <a routerLink="/" routerLinkActive="active">Home</a>
      <a routerLink="/transactions" routerLinkActive="active">Transactions</a>

      <button (click)="handleLogout()">Logout</button>
    } @else {
      <a routerLink="/login" routerLinkActive="active">Login</a>
      <a routerLink="/register">Register</a>
    }
  </nav>
</main>
<app-dashboard [transactions]="false"></app-dashboard>
<router-outlet />
