<app-dashboard [transactions]="true"></app-dashboard>

<div>
  <h2 class="transaction-title">Transactions</h2>

  <div class="transaction-container">
    @for (item of transactions; track item.symbol) {
      <div class="transaction-item">
        <p><strong>Symbol:</strong> {{ item.symbol }}</p>
        <p><strong>Price:</strong> {{ item.price }} USD</p>
        <p><strong>Quantity:</strong> {{ item.quantity }}</p>
        <p><strong>Date:</strong> {{ item.date }}</p>
      </div>
    }
  </div>
</div>
